

h1 {
    font-size: 60px;
    text-align: center;
    display: inline-block;
    color: white;

}
h2 {
    font-size: 20px;
}

body {
    max-width: 960px;
    background-image: url(../images/UtahBillboard.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 7%;
    background-color: black;


}
.gamewrap {
    display: inline-block;
    outline: 10px solid #a16659;
    padding: 25px;
    position: relative;
    margin-top: 36px;
    margin-left: 110px;
    color: black;
    background-color: #839d55;
    text-align: center;
}

#play #again {
    background-color: tomato;
    padding: 15px 32px;
    font-size: 30px;
    margin-bottom: 25px;
    color: white;

}

.gameSpecs {
    background-color: #839d55;
    outline: 10px solid #a16659;
    display: inline-block;
    padding: 25px;
    float: right;
    margin-top: 389px;
    font-size: 45px;
    text-align: center;
}
form {
    display: none;
    
}